<h1>Rosh Review</h1>

<div class="well" ng-if="ctrl.selector.available">
    <form role="form" class="form-inline">
        <div class="form-group">
            <label for="selected-student">Show performance details of</label>
            <select id="selected-student" class="form-control " ng-model="ctrl.selector.selectedId" ng-options="s.id as s.displayName for s in ctrl.selector.students" ng-change="ctrl.showStudentPerformance(ctrl.selector.selectedId)">
                <option value="">Select a student</option>
            </select>
        </div>
        <div class="form-group" ng-show="!ctrl.showGlobals">
            or <a ng-click="ctrl.showGlobalPerformance(true)">Show global performances</a>
        </div>
    </form>
</div>


<!-- User performance charts -->


<div class="graph-view" ng-if="ctrl.selector.selectedId &amp;&amp; ctrl.performances.data">
    <div class="row">
        <!-- Peromance history -->
        <div class="col-sm-7">
            <div class="well">
                <h2>Cumulative Performance</h2>
                <hr/>

                <form role="form" class="form-inline filter-selectors">

                    <div class="form-group">
                        <label for="compare-user-to">Compared to:</label>
                        <select
                            id="compare-user-to" class="form-control"
                            ng-model="ctrl.comparison.selected"
                            ng-options="opt as opt.label for opt in ctrl.comparison.available track by opt.id"
                            required="true"
                            ng-change="ctrl.setCumulativePerformanceRef(ctrl.comparison.selected)"
                        ></select>
                    </div>

                </form>

                <!-- history chart -->
                <scd-chart-history class="cumulative-perfomance rect"
                    scd-layout="ctrl.performances.cumulative.layout"
                    scd-series="ctrl.performances.cumulative.series"
                    scd-ref="ctrl.performances.cumulative.ref"
                    scd-current="ctrl.performances.cumulative.current"
                    scd-options="ctrl.performances.cumulative.options"
                    scd-legend="{y: 'percentage correct'}"
                >
                </scd-chart-history>
            </div>
        </div>

        <!-- Progress and probably of passing -->
        <div class="col-sm-5">
            <div class="well">

                <scd-chart-components scd-layout="ctrl.performances.progress.layout" scd-main-data="ctrl.performances.progress.mainData" scd-components="ctrl.performances.progress.components">
                </scd-chart-components>

            </div>

            <div class="well">
                <div class="row">
                    <div class="col-md-6">
                        <scd-chart-meter scd-layout="ctrl.performances.abem.layout" scd-levels="ctrl.performances.abem.steps" scd-reading="ctrl.performances.abem.reading">
                        </scd-chart-meter>
                    </div>

                    <div class="col-md-6">
                        <scd-chart-meter scd-layout="ctrl.performances.passing.layout" scd-levels="ctrl.performances.passing.steps" scd-reading="ctrl.performances.passing.reading">
                        </scd-chart-meter>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <!-- Result breakdown by topics -->
        <div class="col-md-12">

            <div class="well">
                <h2>Performance by Category - Entire Program</h2>
                <hr/>

                <form role="form" class="form-inline filter-selectors">

                    <div class="form-group">
                        <label for="compare-user-category-to">Compared to:</label>
                        <select id="compare-user-category-to" class="form-control" ng-model="ctrl.comparison.selected" ng-options="opt as opt.label for opt in ctrl.comparison.available track by opt.id" required="true"></select>
                    </div>

                </form>

                <scd-chart-histogram
                    scd-layout="ctrl.performances.byCategory.layout"
                    scd-series="ctrl.performances.byCategory.series"
                    scd-options="ctrl.performances.byCategory.options"
                    scd-legend="{x: 'Score (%)'}"
                >
                </scd-chart-histogram>

            </div>

        </div>
    </div>
</div>


<!-- Students ranks -->

<div ng-if="ctrl.showGlobals" ng-controller="scdGlobalReviewCtrl" class="global-performance">
    <div class="well graph-view">
        <form role="form" class="form-inline filter-selectors">

            <h2>Students Performance by Category</h2>

            <div class="form-group">
                <label for="resident">Show:</label>
                <select id="resident" class="form-control" ng-model="filters.chart.year" ng-options="opt.title for opt in residents" required="true" ng-change="chartFiltersChanged()"></select>
            </div>

            <div class="form-group">
                <label class="sr-only" for="cotegory">filter by category:</label>
                <select id="cotegory" class="form-control" ng-model="filters.chart.sortBy.category" ng-options="opt for opt in categories" required="true" ng-change="chartFiltersChanged()"></select>
            </div>

            <div class="form-group">
                <label for="resident">Compared to:</label>
                <select id="resident" class="form-control" ng-model="filters.chart.sortBy.property" ng-options="opt.title for opt in stats" required="true" ng-change="chartFiltersChanged()"></select>
            </div>

        </form>

        <div class="chart-nav">
            <div class="btn-group">
                <button type="button" class="btn btn-default" ng-disabled="!cursor.prev" ng-click="prev()">Prev</button>
                <button type="button" class="btn btn-default" ng-disabled="!cursor.next" ng-click="next()">Next</button>
            </div>
        </div>



        <scce-svg-container scce-viewbox="layout" ng-if="layout">

            <svg>

                <g class="ticks x-ticks">
                    <g ng-repeat="tick in scales.x.ticks(20)" ng-attr-transform="translate({{scales.x(tick)}},0)">
                        <line ng-attr-y2="{{layout.innerHeight}}" />
                        <text ng-attr-y="{{layout.innerHeight + 5}}">{{tick}}</text>
                    </g>
                </g>

                <g class="data">
                    <g class="student" ng-repeat="student in review.chart.students track by student.id" ng-attr-transform="translate(0,{{$index * 20}})" ng-class="{failing: student.data[filters.chart.sortBy.category][filters.chart.sortBy.property.id] < review.chart.overallAverage[filters.chart.year.title][filters.chart.sortBy.category][filters.chart.sortBy.property.id]}">
                        <rect y="6" height="8" ng-attr-width="{{scales.x(student.data[filters.chart.sortBy.category][filters.chart.sortBy.property.id])}}" />
                        <text ng-attr-x="{{scales.x(student.data[filters.chart.sortBy.category][filters.chart.sortBy.property.id])}}" y="10" dx="5">
                            {{student.data[filters.chart.sortBy.category][filters.chart.sortBy.property.id] | number:1}}%
                        </text>
                    </g>
                </g>

                <g class="axis y-axis students">

                    <line ng-attr-y2="{{layout.innerHeight}}" class="axis-line" />

                    <g class="student" ng-repeat="student in review.chart.students track by student.id" ng-attr-transform="translate(0,{{$index * 20}})">
                        <line x2="-5" />
                        <line y1="20" y2="20" x2="-5" />

                        <text x="-10" y="10">
                            {{student.displayName}}
                        </text>

                    </g>

                </g>

                <g class="average" ng-if="filters.chart.year.title" ng-attr-transform="translate({{scales.x(review.chart.overallAverage[filters.chart.year.title][filters.chart.sortBy.category][filters.chart.sortBy.property.id])}})">
                    <line y1="-5" ng-attr-y2="{{layout.innerHeight + 5}}" />
                    <text x="5" y="-10">Average ({{review.chart.overallAverage[filters.chart.year.title][filters.chart.sortBy.category][filters.chart.sortBy.property.id] | number:1}}%)</text>
                </g>

            </svg>
        </scce-svg-container>

    </div>

    <div class="well table-view">

        <nav class="navbar navbar-default well" role="navigation">
            <div class="container-fluid">

                <form class="navbar-form navbar-left" role="search">

                    <div class="form-group">
                        <label for="resident">Show:</label>
                        <select id="resident" class="form-control" ng-model="filters.table.year" ng-options="opt.title for opt in residents" required="true" ng-change="tableFiltersChanged()"></select>
                    </div>

                    <div class="form-group">
                        <label class="sr-only" for="cotegory">filter by category:</label>
                        <select id="cotegory" class="form-control" ng-model="filters.table.show.category" ng-options="opt for opt in categories" required="true"></select>
                    </div>

                    <div class="form-group">
                        <label for="resident">Compared to:</label>
                        <select id="resident" class="form-control" ng-model="filters.table.show.property" ng-options="opt.title for opt in stats" required="true"></select>
                    </div>

                </form>

                <form class="navbar-form navbar-right" role="search">

                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search" ng-model="review.table.searchFor" />
                    </div>

                </form>

            </div>
        </nav>

        <form role="form" class="form-inline filter-selectors">

            {{review.table.searchFor}}

        </form>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        <a ng-click="tableSortBy('displayName')">
              Name <span ng-if="review.table.sortedBy == 'displayName'" class="glyphicon glyphicon-sort"></span>
            </a>
                    </th>
                    <th>
                        <a ng-click="tableSortBy('PGY')">
              PGY <span ng-if="review.table.sortedBy == 'PGY'" class="glyphicon glyphicon-sort"></span>
            </a>
                    </th>
                    <th>
                        <a ng-click="tableSortBy('selected-category')">
              {{filters.table.show.category}}
              <span ng-if="review.table.sortedBy == 'selected-category'" class="glyphicon glyphicon-sort"></span>
            </a>
                    </th>
                    <th>
                        <a ng-click="tableSortBy('PGY-average')">
              PGY Average
              <span ng-if="review.table.sortedBy == 'PGY-average'" class="glyphicon glyphicon-sort"></span>
            </a>
                    </th>
                    <th>
                        <a ng-click="tableSortBy('%-completed')">
              Percentage Completed
              <span ng-if="review.table.sortedBy == '%-completed'" class="glyphicon glyphicon-sort"></span>
            </a>
                    </th>
                    <th>
                        <a ng-click="tableSortBy('probability-of-passing')">
              Probability of passing ABEM
              <span ng-if="review.table.sortedBy == 'probability-of-passing'" class="glyphicon glyphicon-sort"></span>
            </a>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="student in review.table.students | filter:{$: review.table.searchFor} track by student.id">
                    <td>{{student.displayName}}</td>
                    <td>{{student.PGY}}</td>
                    <td>{{student.data[filters.table.show.category].result| number:1}}%</td>
                    <td>{{review.table.source.overallAverage['PGY ' + student.PGY][filters.table.show.category][filters.table.show.property.id] | number:1}}%</td>
                    <td>{{student.data[filters.table.show.category].completed | number:1}}%</td>
                    <td>{{student.data[filters.table.show.category].probabilityOfPassing | number:1}}%</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
