<!-- Deprecated -->
<h1>Rosh Review</h1>

<div class="well" ng-if="ctrl.selector.available">
    <form role="form" class="form-inline">
        <div class="form-group">
            <label for="selected-student">Show performance details of</label>
            <select id="selected-student" class="form-control " ng-model="ctrl.selector.selectedId" ng-options="s.id as s.displayName for s in ctrl.selector.students" ng-change="ctrl.showStudentPerformance(ctrl.selector.selectedId)">
                <option value="">Select a student</option>
            </select>
        </div>
        <div class="form-group" ng-show="!ctrl.showGlobals">
            or <a ng-click="ctrl.showGlobalPerformance(true)">Show global performances</a>
        </div>
    </form>
</div>


<!-- User performance charts -->


<div class="graph-view" ng-if="ctrl.selector.selectedId &amp;&amp; ctrl.performances.data">
    <div class="row">
        <!-- Peromance history -->
        <div class="col-sm-7">
            <div class="well">
                <h2>Cumulative Performance</h2>
                <hr/>

                <form role="form" class="form-inline filter-selectors">

                    <div class="form-group">
                        <label for="compare-user-to">Compared to:</label>
                        <select id="compare-user-to" class="form-control" ng-model="ctrl.comparison.selected" ng-options="opt as opt.label for opt in ctrl.comparison.available track by opt.id" required="true" ng-change="ctrl.setCumulativePerformanceRef(ctrl.comparison.selected)"></select>
                    </div>

                </form>

                <!-- history chart -->
                <scd-chart-history class="cumulative-perfomance rect" scd-layout="ctrl.performances.cumulative.layout" scd-series="ctrl.performances.cumulative.series" scd-ref="ctrl.performances.cumulative.ref" scd-current="ctrl.performances.cumulative.current" scd-options="ctrl.performances.cumulative.options" scd-legend="{y: 'percentage correct'}">
                </scd-chart-history>
            </div>
        </div>

        <!-- Progress and probably of passing -->
        <div class="col-sm-5">
            <div class="well">

                <scd-chart-components scd-layout="ctrl.performances.progress.layout" scd-main-data="ctrl.performances.progress.mainData" scd-components="ctrl.performances.progress.components">
                </scd-chart-components>

            </div>

            <div class="well">
                <div class="row">
                    <div class="col-md-6">
                        <scd-chart-meter scd-layout="ctrl.performances.abem.layout" scd-levels="ctrl.performances.abem.steps" scd-reading="ctrl.performances.abem.reading">
                        </scd-chart-meter>
                    </div>

                    <div class="col-md-6">
                        <scd-chart-meter scd-layout="ctrl.performances.passing.layout" scd-levels="ctrl.performances.passing.steps" scd-reading="ctrl.performances.passing.reading">
                        </scd-chart-meter>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <!-- Result breakdown by topics -->
        <div class="col-md-12">

            <div class="well">
                <h2>Performance by Category - Entire Program</h2>
                <hr/>

                <form role="form" class="form-inline filter-selectors">

                    <div class="form-group">
                        <label for="compare-user-category-to">Compared to:</label>
                        <select id="compare-user-category-to" class="form-control" ng-model="ctrl.comparison.selected" ng-options="opt as opt.label for opt in ctrl.comparison.available track by opt.id" required="true"></select>
                    </div>

                </form>

                <scd-chart-histogram scd-layout="ctrl.performances.byCategory.layout" scd-series="ctrl.performances.byCategory.series" scd-options="ctrl.performances.byCategory.options" scd-legend="{x: 'Score (%)'}">
                </scd-chart-histogram>

            </div>

        </div>
    </div>
</div>


<!-- Students ranks -->

<div ng-if="ctrl.showGlobals" ng-controller="scdGlobalReviewCtrl as gblCtrl" class="global-performance">
    <div class="well graph-view">
        <form role="form" class="form-inline filter-selectors">

            <h2>Students Performance by Category</h2>

            <div class="form-group">
                <label for="resident">Show:</label>
                <select id="resident" class="form-control" ng-model="gblCtrl.filters.chart.year" ng-options="opt.title for opt in gblCtrl.residents" required="true" ng-change="gblCtrl.chartFiltersChanged()"></select>
            </div>

            <div class="form-group">
                <label class="sr-only" for="cotegory">filter by category:</label>
                <select id="cotegory" class="form-control" ng-model="gblCtrl.filters.chart.sortBy.category" ng-options="opt for opt in gblCtrl.categories" required="true" ng-change="gblCtrl.chartFiltersChanged()"></select>
            </div>

            <div class="form-group">
                <label for="resident">Compared to:</label>
                <select id="resident" class="form-control" ng-model="gblCtrl.filters.chart.sortBy.property" ng-options="opt.title for opt in gblCtrl.stats" required="true" ng-change="gblCtrl.chartFiltersChanged()"></select>
            </div>

        </form>

        <div class="chart-nav">
            <div class="btn-group">
                <button type="button" class="btn btn-default" ng-disabled="!gblCtrl.cursor.prev" ng-click="gblCtrl.prevChartData()">Prev</button>
                <button type="button" class="btn btn-default" ng-disabled="!gblCtrl.cursor.next" ng-click="gblCtrl.nextChartData()">Next</button>
            </div>
        </div>


        <scd-chart-histogram
            scd-layout="gblCtrl.layout"
            scd-series="gblCtrl.review.chart.students"
            scd-options="gblCtrl.review.chartOptions"
            scd-ref="gblCtrl.review.chartRef"
        >
        </scd-chart-histogram>

    </div>

    <div class="well table-view">

        <nav class="navbar navbar-default well" role="navigation">
            <div class="container-fluid">

                <form class="navbar-form navbar-left" role="search">

                    <div class="form-group">
                        <label for="resident">Show:</label>
                        <select id="resident" class="form-control" ng-model="gblCtrl.filters.table.year" ng-options="opt.title for opt in gblCtrl.residents" required="true" ng-change="gblCtrl.tableFiltersChanged()"></select>
                    </div>

                    <div class="form-group">
                        <label class="sr-only" for="cotegory">filter by category:</label>
                        <select id="cotegory" class="form-control" ng-model="gblCtrl.filters.table.show.category" ng-options="opt for opt in gblCtrl.categories" required="true"></select>
                    </div>

                    <div class="form-group">
                        <label for="resident">Compared to:</label>
                        <select id="resident" class="form-control" ng-model="gblCtrl.filters.table.show.property" ng-options="opt.title for opt in gblCtrl.stats" required="true"></select>
                    </div>

                </form>

                <form class="navbar-form navbar-right" role="search">

                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search" ng-model="gblCtrl.review.table.searchFor" />
                    </div>

                </form>

            </div>
        </nav>


        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        <a ng-click="gblCtrl.tableSortBy('displayName')">
              Name <span ng-if="gblCtrl.review.table.sortedBy == 'displayName'" class="glyphicon glyphicon-sort"></span>
            </a>
                    </th>
                    <th>
                        <a ng-click="gblCtrl.tableSortBy('PGY')">
              PGY <span ng-if="gblCtrl.review.table.sortedBy == 'PGY'" class="glyphicon glyphicon-sort"></span>
            </a>
                    </th>
                    <th>
                        <a ng-click="gblCtrl.tableSortBy('selected-category')">
              {{gblCtrl.filters.table.show.category}}
              <span ng-if="gblCtrl.review.table.sortedBy == 'selected-category'" class="glyphicon glyphicon-sort"></span>
            </a>
                    </th>
                    <th>
                        <a ng-click="gblCtrl.tableSortBy('PGY-average')">
              PGY Average
              <span ng-if="gblCtrl.review.table.sortedBy == 'PGY-average'" class="glyphicon glyphicon-sort"></span>
            </a>
                    </th>
                    <th>
                        <a ng-click="gblCtrl.tableSortBy('%-completed')">
              Percentage Completed
              <span ng-if="gblCtrl.review.table.sortedBy == '%-completed'" class="glyphicon glyphicon-sort"></span>
            </a>
                    </th>
                    <th>
                        <a ng-click="gblCtrl.tableSortBy('probability-of-passing')">
              Probability of passing ABEM
              <span ng-if="gblCtrl.review.table.sortedBy == 'probability-of-passing'" class="glyphicon glyphicon-sort"></span>
            </a>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="student in gblCtrl.review.table.students | filter:{$: gblCtrl.review.table.searchFor} track by student.id">
                    <td>{{student.displayName}}</td>
                    <td>{{student.PGY}}</td>
                    <td>{{student.data[gblCtrl.filters.table.show.category].result| number:1}}%</td>
                    <td>{{gblCtrl.review.table.source.overallAverage['PGY ' + student.PGY][gblCtrl.filters.table.show.category][gblCtrl.filters.table.show.property.id] | number:1}}%</td>
                    <td>{{student.data[gblCtrl.filters.table.show.category].completed | number:1}}%</td>
                    <td>{{student.data[gblCtrl.filters.table.show.category].probabilityOfPassing | number:1}}%</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
