<h1>Rosh Review</h1>

<div class="well">
  <form role="form" class="form-inline" ng-if="ctrl.selector.available">
    <div class="form-group">
      <label for="selected-student">Show performance details of </label>
      <select id="selected-student" class="form-control " ng-model="ctrl.selector.selectedId"
        ng-options="s.id as s.firstName + ' ' + s.lastName for s in ctrl.selector.students"
        ng-change="ctrl.showStudentPerformance(ctrl.selector.selectedId)"
      >
        <option value="">Select a student</option>
      </select>
    </div>
    <div class="form-group" ng-show="!ctrl.showGlobals">
      or <a ng-click="ctrl.showGlobalPerformance(true)">Show global performances</a>
    </div>
  </form>
</div>

<div class="row graph-view" ng-if="ctrl.selector.selectedId &amp;&amp; ctrl.performances.data">
  <div class="col-sm-7">
    <div class="well">
      <h2>Cumulative Performance</h2>
      <hr/>

        <form role="form" class="form-inline filter-selectors">

          <div class="form-group">
            <label for="compare-user-to"> Compared to: </label>
            <select id="compare-user-to" class="form-control"
              ng-model="ctrl.comparison.selected"
              ng-options="opt as opt.label for opt in ctrl.comparison.available track by opt.id"
              required="true"
            ></select>
          </div>

        </form>

      <scce-svg-container scce-viewbox="ctrl.performances.cumulative.layout" ng-if="ctrl.performances.cumulative.layout">
        <svg class="cumulative-perfomance">

          <g class="ticks x-ticks">
            <g ng-repeat="tick in ctrl.performances.cumulative.xTicks"
              ng-attr-transform="translate({{ctrl.performances.cumulative.xScale(tick) + (ctrl.performances.cumulative.xScale.rangeBand() / 2)}},0)"
            >
              <line ng-attr-y2="{{ctrl.performances.cumulative.layout.innerHeight + 5 }}"/>
              <text ng-attr-y="{{ctrl.performances.cumulative.layout.innerHeight + 6}}">
                {{ctrl.performances.cumulative.ticksFormatter(tick)}}
              </text>
            </g>
          </g>

          <g class="ticks y-ticks">
            <g ng-repeat="tick in ctrl.performances.cumulative.yScale.ticks(5)"
              ng-attr-transform="translate(0,{{ctrl.performances.cumulative.yScaleReversed(tick)}})"
            >
              <line x1="-5" ng-attr-x2="{{ctrl.performances.cumulative.layout.innerWidth }}"/>
              <text x="-10">
                {{tick}}%
              </text>
            </g>
          </g>

          <g class="data">
            <rect class="day" ng-repeat="day in ctrl.performances.data.progress"
              ng-attr-x="{{ctrl.performances.cumulative.xScale(day.date)}}"
              ng-attr-y="{{ctrl.performances.cumulative.yScaleReversed(day.performance)}}"
              ng-attr-width="{{ctrl.performances.cumulative.xScale.rangeBand()}}"
              ng-attr-height="{{ctrl.performances.cumulative.yScale(day.performance)}}"
            />
          </g>

          <g class="axis x-axis" ng-attr-transform="translate(0,{{ctrl.performances.cumulative.layout.innerHeight}})">
            <line class="axis-line" ng-attr-x2="{{ctrl.performances.cumulative.layout.innerWidth}}"></line>
          </g>

          <g class="axis y-axis">
            <line class="axis-line" ng-attr-y2="{{ctrl.performances.cumulative.layout.innerHeight}}"></line>
            <g class="legend"
              ng-attr-transform="translate(-{{ctrl.performances.cumulative.layout.margin.left}},{{ctrl.performances.cumulative.layout.innerHeight/2}})"
            >
              <text transform="rotate(-90)">
                Percentage Correct
              </text>
            </g>
          </g>

          <g class="compareTo"
            ng-attr-transform="translate(0,{{ctrl.performances.cumulative.yScaleReversed(ctrl.performances.data[ctrl.comparison.selected.id])}})"
          >
            <line ng-attr-x2="{{ctrl.performances.cumulative.layout.innerWidth}}"/>
            <text dx="15" dy="-0.5em">
              <tspan>{{ctrl.comparison.selected.type}}</tspan>
              <tspan> (</tspan>
              <tspan>{{ctrl.performances.data[ctrl.comparison.selected.id]}}</tspan>
              <tspan>%)</tspan>
            </text>
          </g>

          <g class="current-performance"
            ng-attr-transform="translate({{ctrl.performances.cumulative.layout.innerWidth + ctrl.performances.cumulative.layout.margin.right/2}},{{ctrl.performances.cumulative.layout.innerHeight/2}})"
          >
            <text style="font-size:48px">
              <tspan class="value">{{ctrl.performances.data.cumulativePerformance}}</tspan><tspan class="unit">%</tspan>
            </text>
            <text class="subtitle" dy="24px">
              Overall percent correct
            </text>
          </g>

        </svg>
      </scce-svg-container>
    </div>
  </div>
  <div class="col-sm-5">
    <div class="well">
      <scce-svg-container scce-viewbox="ctrl.performances.progress.layout" ng-if="ctrl.performances.progress.layout">
        <svg class="user-progress">

          <g class="pie" ng-attr-transform="translate({{ctrl.performances.progress.layout.innerWidth / 2}},{{ctrl.performances.progress.layout.innerHeight / 2}})">
            <g class="slice"
              ng-repeat="slice in ctrl.performances.progress.slices"
              ng-class="'pie-progress-' + slice.data.id"
            >
              <g ng-if="$index == 0">
                <path
                  ng-attr-d="{{ctrl.performances.progress.arc(slice)}}"
                  ng-attr-transform="{{ctrl.performances.progress.shiftSlice(slice, 10)}}"
                  />
                <text
                  ng-attr-transform="{{ctrl.performances.progress.label(slice, 10)}}"
                  dy=".35em"
                  ng-class="{'past-center': ctrl.performances.progress.pastCenter(slice)}"
                  ng-if="slice.data.value > 0"
                >
                  {{slice.data.label}}
                </text>
              </g>
              <g ng-if="$index > 0">
                <path
                  ng-attr-d="{{ctrl.performances.progress.arc(slice)}}"
                  />
                <text
                  ng-attr-transform="{{ctrl.performances.progress.label(slice)}}"
                  dy=".35em"
                  ng-class="{'past-center': ctrl.performances.progress.pastCenter(slice)}"
                  ng-if="slice.data.value > 0"
                >
                  {{slice.data.label}}
                </text>
              </g>
            </g>
          </g>



          <g class="progress"
            ng-attr-transform="translate({{ctrl.performances.progress.layout.width/6 - ctrl.performances.progress.layout.margin.left}},{{ctrl.performances.progress.layout.innerHeight + ctrl.performances.progress.layout.margin.bottom/2 + + ctrl.performances.progress.layout.margin.top/2}})"
          >
            <text style="font-size:48px">
              <tspan>{{ctrl.performances.data.percentageComplete}}</tspan><tspan>%</tspan>
            </text>
            <text dy="-36" style="font-size:24px; font-weight:200">Progress</text>
            <text dy="24" style="font-size:12px; font-weight:200">Percentage completed</text>
          </g>

        </svg>
      </scce-svg-container>
    </div>

    <div class="well">
      <div class="row">
        <div class="col-md-6">
          <scce-svg-container scce-viewbox="ctrl.performances.abem.layout" ng-if="ctrl.performances.abem.layout">
            <svg class="user-abem">

              <g class="meter"
                ng-attr-transform="translate({{ctrl.performances.abem.layout.innerWidth/2}},{{ctrl.performances.abem.layout.innerHeight}})"
              >

                <g class="slices">
                  <path class="slice"
                    ng-repeat="slice in ctrl.performances.abem.slices"
                    ng-class="'pie-meter-slice-' + slice.data.id"
                    ng-attr-d="{{ctrl.performances.abem.arc(slice)}}"
                  />
                </g>

                <g class="ticks ticks-secondary">
                  <g class="tick" ng-repeat="v in [10,20,30,40,60,70,80,90]"
                    ng-attr-transform="rotate({{(v-50)*180/100}})"
                  >
                    <line
                      ng-attr-y1="-{{ctrl.performances.abem.innerRadius}}"
                      ng-attr-y2="-{{ctrl.performances.abem.outerRadius - 3}}"
                    />
                  </g>
                </g>

                <g class="ticks ticks-main">
                  <path
                    ng-attr-d="M-{{ctrl.performances.abem.innerRadius}},0 A{{ctrl.performances.abem.innerRadius}},{{ctrl.performances.abem.innerRadius}} 0 0,1 {{ctrl.performances.abem.innerRadius}},0"
                  />
                  <g class="tick" ng-repeat="v in [0,50,100]"
                    ng-attr-transform="rotate({{(v-50)*180/100}})"
                  >
                    <text
                      ng-attr-y="-{{ctrl.performances.abem.outerRadius}}"
                      dy="-.35em"
                    >
                      {{v}}
                    </text>
                    <line
                      ng-attr-y1="-{{ctrl.performances.abem.innerRadius}}"
                      ng-attr-y2="-{{ctrl.performances.abem.outerRadius - 3}}"
                    />
                  </g>
                </g>

                <g ng-attr-transform="rotate({{ctrl.performances.data.abem*180/100}},0,0)">
                  <line class="pointer"
                    x1="5"
                    ng-attr-x2="-{{ctrl.performances.abem.innerRadius + 5}}"
                  />
                  <circle r="2"/>
                </g>

              </g>


              <g class="reading"
                ng-attr-transform="translate({{ctrl.performances.abem.layout.innerWidth/2}},{{ctrl.performances.abem.layout.innerHeight + ctrl.performances.abem.layout.margin.bottom/2}})"
              >
                <text class="value" style="font-size:18px">
                  <tspan>{{ctrl.performances.data.abem}}</tspan><tspan>%</tspan>
                </text>
                <text dy="12" style="font-size:8px; font-weight:200">
                  Projected ABEM score
                </text>
              </g>

            </svg>
          </scce-svg-container>
        </div>

        <div class="col-md-6">
          <scce-svg-container scce-viewbox="ctrl.performances.passing.layout" ng-if="ctrl.performances.passing.layout">
            <svg class="user-passing">

              <g class="meter"
                ng-attr-transform="translate({{ctrl.performances.passing.layout.innerWidth/2}},{{ctrl.performances.passing.layout.innerHeight}})"
              >

                <g class="slices">
                  <path class="slice"
                    ng-repeat="slice in ctrl.performances.passing.slices"
                    ng-class="'pie-meter-slice-' + slice.data.id"
                    ng-attr-d="{{ctrl.performances.passing.arc(slice)}}"
                  />
                </g>

                <g class="ticks ticks-secondary">
                  <g class="tick" ng-repeat="v in [10,20,30,40,60,70,80,90]"
                    ng-attr-transform="rotate({{(v-50)*180/100}})"
                  >
                    <line
                      ng-attr-y1="-{{ctrl.performances.passing.innerRadius}}"
                      ng-attr-y2="-{{ctrl.performances.passing.outerRadius - 3}}"
                    />
                  </g>
                </g>

                <g class="ticks ticks-main">
                  <path
                    ng-attr-d="M-{{ctrl.performances.passing.innerRadius}},0 A{{ctrl.performances.passing.innerRadius}},{{ctrl.performances.passing.innerRadius}} 0 0,1 {{ctrl.performances.passing.innerRadius}},0"
                  />
                  <g class="tick" ng-repeat="v in [0,50,100]"
                    ng-attr-transform="rotate({{(v-50)*180/100}})"
                  >
                    <text
                      ng-attr-y="-{{ctrl.performances.passing.outerRadius}}"
                      dy="-.35em"
                    >
                      {{v}}
                    </text>
                    <line
                      ng-attr-y1="-{{ctrl.performances.passing.innerRadius}}"
                      ng-attr-y2="-{{ctrl.performances.passing.outerRadius - 3}}"
                    />
                  </g>
                </g>

                <g ng-attr-transform="rotate({{ctrl.performances.data.passingProbability*180/100}},0,0)">
                  <line class="pointer"
                    x1="5"
                    ng-attr-x2="-{{ctrl.performances.passing.innerRadius + 5}}"
                  />
                  <circle r="2"/>
                </g>

              </g>


              <g class="reading"
                ng-attr-transform="translate({{ctrl.performances.passing.layout.innerWidth/2}},{{ctrl.performances.passing.layout.innerHeight + ctrl.performances.passing.layout.margin.bottom/2}})"
              >
                <text class="value" style="font-size:18px">
                  <tspan>{{ctrl.performances.data.passingProbability}}</tspan><tspan>%</tspan>
                </text>
                <text dy="12" style="font-size:8px; font-weight:200">
                  Probability of Passing
                </text>
              </g>

            </svg>
          </scce-svg-container>
        </div>
      </div>
    </div>

  </div>
</div>

<div ng-if="ctrl.showGlobals" ng-controller="scdGlobalReviewCtrl" class="global-performance">
  <div class="well graph-view">
    <form role="form" class="form-inline filter-selectors">

      <h2>Students Performance by Category</h2>

      <div class="form-group">
        <label for="resident">Show: </label>
        <select id="resident" class="form-control"
          ng-model="filters.chart.year"
          ng-options="opt.title for opt in residents"
          required="true"
          ng-change="chartFiltersChanged()"
        ></select>
      </div>

      <div class="form-group">
        <label class="sr-only" for="cotegory"> filter by category: </label>
        <select id="cotegory" class="form-control"
          ng-model="filters.chart.sortBy.category"
          ng-options="opt for opt in categories"
          required="true"
          ng-change="chartFiltersChanged()"
        ></select>
      </div>

      <div class="form-group">
        <label for="resident"> Compared to: </label>
        <select id="resident" class="form-control"
          ng-model="filters.chart.sortBy.property"
          ng-options="opt.title for opt in stats"
          required="true"
          ng-change="chartFiltersChanged()"
        ></select>
      </div>

    </form>

    <div class="chart-nav">
      <div class="btn-group">
        <button type="button" class="btn btn-default" ng-disabled="!cursor.prev" ng-click="prev()">Prev</button>
        <button type="button" class="btn btn-default" ng-disabled="!cursor.next" ng-click="next()">Next</button>
      </div>
    </div>



    <scce-svg-container scce-viewbox="layout" ng-if="layout">

      <svg>

        <g class="ticks x-ticks">
          <g ng-repeat="tick in scales.x.ticks(20)"
            ng-attr-transform="translate({{scales.x(tick)}},0)"
          >
            <line ng-attr-y2="{{layout.innerHeight}}"/>
            <text ng-attr-y="{{layout.innerHeight + 5}}">{{tick}}</text>
          </g>
        </g>

        <g class="data">
          <g class="student" ng-repeat="student in review.chart.students track by student.id"
            ng-attr-transform="translate(0,{{$index * 20}})"
            ng-class="{failing: student.data[filters.chart.sortBy.category][filters.chart.sortBy.property.id] < review.chart.overallAverage[filters.chart.year.title][filters.chart.sortBy.category][filters.chart.sortBy.property.id]}"
          >
            <rect y="6" height="8" ng-attr-width="{{scales.x(student.data[filters.chart.sortBy.category][filters.chart.sortBy.property.id])}}" />
            <text ng-attr-x="{{scales.x(student.data[filters.chart.sortBy.category][filters.chart.sortBy.property.id])}}" y="10" dx="5">
              {{student.data[filters.chart.sortBy.category][filters.chart.sortBy.property.id] | number:1}}%
            </text>
          </g>
        </g>

        <g class="axis y-axis students">

          <line ng-attr-y2="{{layout.innerHeight}}" class="axis-line"/>

          <g class="student" ng-repeat="student in review.chart.students track by student.id"
            ng-attr-transform="translate(0,{{$index * 20}})"
          >
            <line x2="-5"/>
            <line y1="20" y2="20" x2="-5"/>

            <text x="-10" y="10">
              {{student|fullName}}
            </text>

          </g>

        </g>

        <g class="average" ng-if="filters.chart.year.title"
          ng-attr-transform="translate({{scales.x(review.chart.overallAverage[filters.chart.year.title][filters.chart.sortBy.category][filters.chart.sortBy.property.id])}})"
        >
            <line y1="-5" ng-attr-y2="{{layout.innerHeight + 5}}"/>
            <text x="5" y="-10">Average ({{review.chart.overallAverage[filters.chart.year.title][filters.chart.sortBy.category][filters.chart.sortBy.property.id] | number:1}}%)</text>
        </g>

      </svg>
    </scce-svg-container>

  </div>

  <div class="well table-view">

    <nav class="navbar navbar-default well" role="navigation">
      <div class="container-fluid">

        <form class="navbar-form navbar-left" role="search">

          <div class="form-group">
            <label for="resident">Show: </label>
            <select id="resident" class="form-control"
              ng-model="filters.table.year"
              ng-options="opt.title for opt in residents"
              required="true"
              ng-change="tableFiltersChanged()"
            ></select>
          </div>

          <div class="form-group">
            <label class="sr-only" for="cotegory"> filter by category: </label>
            <select id="cotegory" class="form-control"
              ng-model="filters.table.show.category"
              ng-options="opt for opt in categories"
              required="true"
            ></select>
          </div>

          <div class="form-group">
            <label for="resident"> Compared to: </label>
            <select id="resident" class="form-control"
              ng-model="filters.table.show.property"
              ng-options="opt.title for opt in stats"
              required="true"
            ></select>
          </div>

        </form>

        <form class="navbar-form navbar-right" role="search">

          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search"
              ng-model="review.table.searchFor"
            />
          </div>

        </form>

      </div>
    </nav>

    <form role="form" class="form-inline filter-selectors">

    {{review.table.searchFor}}

    </form>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>
            <a ng-click="tableSortBy('firstName')">
              Name <span ng-if="review.table.sortedBy == 'firstName'" class="glyphicon glyphicon-sort"></span>
            </a>
          </th>
          <th>
            <a ng-click="tableSortBy('PGY')">
              PGY <span ng-if="review.table.sortedBy == 'PGY'" class="glyphicon glyphicon-sort"></span>
            </a>
          </th>
          <th>
            <a ng-click="tableSortBy('selected-category')">
              {{filters.table.show.category}}
              <span ng-if="review.table.sortedBy == 'selected-category'" class="glyphicon glyphicon-sort"></span>
            </a>
          </th>
          <th>
            <a ng-click="tableSortBy('PGY-average')">
              PGY Average
              <span ng-if="review.table.sortedBy == 'PGY-average'" class="glyphicon glyphicon-sort"></span>
            </a>
          </th>
          <th>
            <a ng-click="tableSortBy('%-completed')">
              Percentage Completed
              <span ng-if="review.table.sortedBy == '%-completed'" class="glyphicon glyphicon-sort"></span>
            </a>
          </th>
          <th>
            <a ng-click="tableSortBy('probability-of-passing')">
              Probability of passing ABEM
              <span ng-if="review.table.sortedBy == 'probability-of-passing'" class="glyphicon glyphicon-sort"></span>
            </a>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="student in review.table.students | filter:{$: review.table.searchFor} track by student.id">
          <td>{{student|fullName}}</td>
          <td>{{student.PGY}}</td>
          <td>{{student.data[filters.table.show.category].result| number:1}}%</td>
          <td>{{review.table.source.overallAverage['PGY ' + student.PGY][filters.table.show.category][filters.table.show.property.id] | number:1}}%</td>
          <td>{{student.data[filters.table.show.category].completed | number:1}}%</td>
          <td>{{student.data[filters.table.show.category].probabilityOfPassing | number:1}}%</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
