<h1>Review</h1>

<div class="well">
  <form role="form" class="form-inline filter-selectors">

    <div class="form-group">
      <label for="resident">Show: </label>
      <select id="resident" class="form-control"
        ng-model="filters.chart.year"
        ng-options="opt.title for opt in residents"
        required="true"
        ng-change="chartFiltersChanged()"
      ></select>
    </div>

    <div class="form-group">
      <label class="sr-only" for="cotegory"> filter by category: </label>
      <select id="cotegory" class="form-control"
        ng-model="filters.chart.sortBy.category"
        ng-options="opt for opt in categories"
        required="true"
        ng-change="chartFiltersChanged()"
      ></select>
    </div>

    <div class="form-group">
      <label for="resident"> Compared to: </label>
      <select id="resident" class="form-control"
        ng-model="filters.chart.sortBy.property"
        ng-options="opt.title for opt in stats"
        required="true"
        ng-change="chartFiltersChanged()"
      ></select>
    </div>

  </form>

  <div class="chart-nav">
    <div class="btn-group">
      <button type="button" class="btn btn-default" ng-disabled="!cursor.prev" ng-click="prev()">Prev</button>
      <button type="button" class="btn btn-default" ng-disabled="!cursor.next" ng-click="next()">Next</button>
    </div>
  </div>



  <scce-svg-container scce-viewbox="layout">

    <svg>

      <g class="ticks x-ticks">
        <g ng-repeat="tick in scales.x.ticks(20)"
          ng-attr-transform="translate({{scales.x(tick)}},0)"
        >
          <line ng-attr-y2="{{layout.innerHeight}}"/>
          <text ng-attr-y="{{layout.innerHeight + 5}}">{{tick}}</text>
        </g>
      </g>

      <g class="data">
        <g class="student" ng-repeat="student in review.students track by student.id"
          ng-attr-transform="translate(0,{{$index * 20}})"
          ng-class="{failing: student.data[filters.chart.sortBy.category][filters.chart.sortBy.property.id] < review.overallAverage[filters.chart.year.title][filters.chart.sortBy.category][filters.chart.sortBy.property.id]}"
        >
          <rect y="6" height="8" ng-attr-width="{{scales.x(student.data[filters.chart.sortBy.category][filters.chart.sortBy.property.id])}}" />
          <text ng-attr-x="{{scales.x(student.data[filters.chart.sortBy.category][filters.chart.sortBy.property.id])}}" y="10" dx="5">
            {{student.data[filters.chart.sortBy.category][filters.chart.sortBy.property.id] | number:1}}%
          </text>
        </g>
      </g>

      <g class="axis y-axis students">

        <line ng-attr-y2="{{layout.innerHeight}}" class="axis-line"/>

        <g class="student" ng-repeat="student in review.students track by student.id"
          ng-attr-transform="translate(0,{{$index * 20}})"
        >
          <line x2="-5"/>
          <line y1="20" y2="20" x2="-5"/>

          <text x="-10" y="10">
            {{student.fullName}}
          </text>

        </g>

      </g>

      <g class="average"
        ng-attr-transform="translate({{scales.x(review.overallAverage[filters.chart.year.title][filters.chart.sortBy.category][filters.chart.sortBy.property.id])}})"
      >
          <line y1="-5" ng-attr-y2="{{layout.innerHeight + 5}}"/>
          <text x="5" y="-10">Average ({{review.overallAverage[filters.chart.year.title][filters.chart.sortBy.category][filters.chart.sortBy.property.id] | number:1}}%)</text>
      </g>

    </svg>
  </scce-svg-container>

</div>
