html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 60px 0;
}

#wrap > .container {
  padding: 60px 0 20px;
}

footer {
  overflow: hidden;
  border-top: 1px solid #f4e3db;
  height: 60px;
  background-color: #f5f5f5;
}

footer .container .text-muted {
  margin: 20px 0;
}

footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}
.graph-view h2 {
  text-align: center;
}

.filter-selectors {
  text-align: center;
  margin-bottom: 20px;
}

.chart-nav {
  text-align: right;
}

.chart-nav .btn {
  padding-right: 20px;
  padding-left: 20px;
}

text {
  font-size: 12px;
}

line {
  stroke: #333;
  stroke-width: 1px;
}

rect {
  stroke: #fff;
  fill: #333
}

/** data **/

.data text {
  dominant-baseline: middle;
  text-anchor: start;
  font-size: 10px;
}

rect {
  fill: #90EE90
}

.failing rect {
  fill: #F08080
}

/** Border **/

rect.border {
  fill: none;
  stroke: #bbb;
}

/** axis **/

.axis line, .ticks line {
  stroke: #bbb;
}

.ticks text {
  dominant-baseline: hanging;
  text-anchor: middle;
  font-size: 10px;
  fill: #333;
}

.average text {
  dominant-baseline: hanging;
  text-anchor: start;
}

/** y-axis **/

.y-axis text, .y-ticks text {
  dominant-baseline: middle;
  text-anchor: end;
}

.axis .legend text {
  dominant-baseline: hanging;
  text-anchor: middle;
}

/** Exam **/

.exam .results line {
  stroke: #B22222;
}

.exam .results rect {
  fill: #B22222;
  stroke: #ddd;
}

.exam .mean {
  stroke: #32CD32;
}

.exam .results:hover text {
  font-weight: 800;
  font-size: 1.1em;
}

.exam .results:hover line {
  stroke-width: 2px;
}


/** Evaluation **/

.evaluation {
  display: block;
  padding-bottom: 20px;
}

.evaluation h4 {
  text-align: center;
}

.evaluation rect.You {
  fill: #1E90FF;
  stroke: #ddd;
}

.evaluation rect.All-others {
  fill: #B22222;
  stroke: #ddd;
}

.evaluation .ticks text {
  font-size: 12px
}

/** cumulative-perfomance **/

.cumulative-perfomance .data rect {
  stroke: none;
}

.current-performance text, .current-performance tspan {
  text-align: center;
  dominant-baseline: middle;
  text-anchor: middle;
  font-size: 125%
}

.current-performance text.subtitle {
  font-size: 75%;
}

