html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 60px 0;
}

#wrap > .container {
  padding: 60px 0 20px;
}

footer {
  overflow: hidden;
  border-top: 1px solid #f4e3db;
  height: 60px;
  background-color: #f5f5f5;
}

footer .container .text-muted {
  margin: 20px 0;
}

footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}
.filter-selectors {
  text-align: center;
  margin-bottom: 20px;
}

text {
  font-size: 12px;
}

line {
  stroke: #333;
  stroke-width: 1px;
}

rect {
  stroke: #fff;
  fill: #333
}

/** data **/

.data text {
  dominant-baseline: middle;
  text-anchor: start;
  font-size: 10px;
}

rect {
  fill: #90EE90
}

.failing rect {
  fill: #F08080
}

/** axis **/

.axis line, .ticks line {
  stroke: #bbb;
}

.ticks text {
  dominant-baseline: hanging;
  text-anchor: middle;
  font-size: 10px;
  fill: #333;
}

.average text {
  dominant-baseline: hanging;
  text-anchor: start;
}

/** y-axis **/

.y-axis text {
  dominant-baseline: middle;
  text-anchor: end;
}